<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/employee">Employee</a>
    </li>
    <li>
      <a routerLink="/userinput">User input</a>
    </li>
    <li>
      <a routerLink="/eventdemo">Event demo</a>
    </li>
    <li>
      <a routerLink="/exampledir">Example dir</a>
    </li>
    <li>
      <a routerLink="/sayings">Sayings</a>
    </li>
    <li>
      <a routerLink="/matchsayings">Matching Sayings</a>
    </li>
  </ul>
</nav>
